<article id="profileCard">
    <img src="/assets/profileImage.png" alt="profileImage">
    <h2><%= data.name %></h2>
    <h3>"<%= data.about %>"</h3>
    <h5><%= data.email %></h5>
    <section class="mainButtons">
        <form method="POST" action="/dislike/<%= data._id %>">
            <button class="dislike">
                ❌ Verwijder Account
            </button>
        </form>
        <!-- <form method="POST" action="/like/<%= data._id %>">
            <button class="like">
                ❤️
            </button> -->
        </form>
    </section>
</article>